*,
::before,
::after {
  box-sizing: border-box;
}

body {
  color: var(--color-brand-dark);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7;
  margin: 0;
}

h3 {
  font-size: 18px;
  line-height: 1.3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}
