@import "./utils/fonts.scss";
@import "./utils/variables";
@import "./utils/utils";
@import "./utils/texts";

@import "./components/buttons";
@import "./components/links";
@import "./components/pagination";
@import "./components/procedure-card";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/modal";
@import "./layout/form";
@import "./layout/hero-section";
@import "./layout/about-us-section";
@import "./layout/why-we-section";
@import "./layout/our-procedure-section";
@import "./layout/contact-section";
@import "./layout/mobile_menu";
@import "./general";
@import "./base";
