.text-brand {
  color: var(--color-brand);
}

.font-Play {
  font-family: "Play", sans-serif;
}

.bold-element {
  font-weight: bold;
  color: var(--color-brand-dark);
  text-transform: capitalize;
}
