:root {
  --color-brand: #2b7fff;
  --color-brand-dark: #011c44;
  --white: #fff;
  --black: #000;
  --copyright-grey: #747272;
  --description-grey: #4a4a4a;
}

$bp-mobile: 480px;
$bp-tablet: 763px;
$bp-desktop: 1280px;
