.aboutUs-section {
  background-size: cover;
  margin-bottom: 58px;
  padding-top: 0;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 128px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    gap: 0;

    @media screen and (min-width: $bp-desktop) {
      gap: 32px;
      padding: 0;
    }
  }

  &__content {
    width: 100%;
    max-width: 709px;
    padding-top: 40px;
  }

  &__content,
  &__images {
    flex-grow: 1;
  }

  &__title-section {
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 40px;
      max-width: 510px;
      font-size: 64px;
    }
  }

  &__text {
    margin-bottom: 16px;
    line-height: 100%;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 40px;
      line-height: 1.7;
    }
  }

  &__list {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__circle-block {
    border-radius: 50%;
    overflow: hidden;
    width: 327px;
    height: 327px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.28);
  }

  .circle-bottom {
    margin-left: 172px;
  }

  .star {
    position: absolute;
    animation: rotateAndScale 6s linear infinite;
  }

  @keyframes rotateAndScale {
    0% {
      transform: rotate(0deg) scale(1);
    }
    25% {
      transform: rotate(90deg) scale(1.1);
    }
    50% {
      transform: rotate(180deg) scale(1.2);
    }
    75% {
      transform: rotate(270deg) scale(1.1);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }

  &__star-1 {
    margin: 336px 295px 271px 858px;
  }

  &__star-2 {
    margin: 32px 0 608px 1212px;
  }

  &__star-3 {
    margin: 269px 6px 405px 1213px;
  }
}
