.contact-section {
  padding-bottom: 96px;

  &__form-field {
    margin-bottom: 16px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }
}

.contact-map {
  overflow: hidden;
  margin: 0 -24px;
  order: 1;

  @media screen and (min-width: $bp-tablet) {
    margin: 0;
    order: 0;
    border-radius: 32px;
  }

  &__block {
    border: 0;
    width: 100%;
    height: 232px;

    @media screen and (min-width: $bp-tablet) {
      margin: auto;
      width: 400px;
      height: 100%;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 480px;
    }
  }
}

.contact-sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 422px;
  height: 482px;
  gap: 32px;
  border-radius: 32px;
  background: url(../images/contact_form_background.png) no-repeat;
  background-color: var(--color-brand-dark);
  color: var(--white);
  font-weight: 600;
  padding: 48px 56px;
}

.contact-title-form {
  font-size: 22px;
  margin: 0;
  line-height: 100%;
}
