.input {
  position: relative;
  width: 100%;

  &__label {
    position: absolute;
    left: 33px;
    top: 18px;
  }

  &__control {
    padding: 18px 33px;
    width: 100%;
    height: 52px;
    border-radius: 32px;
    font-size: 13px;
    border: 2px solid var(--copyright-grey);
    background: transparent;
    color: var(--white);
  }

  &__control:focus {
    background-color: var(--copyright-grey);
    outline: none;
  }

  &__control::placeholder {
    font-size: 13px;
    color: var(--white);
    line-height: 100%;
  }

  &__control:focus::placeholder {
    color: var(--white);
  }
}

.form-terms {
  width: 213px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--copyright-grey);
  text-align: center;

  &__link {
    color: var(--copyright-grey);
    text-underline-offset: 2px;
  }
}
