.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 18px;

  @media screen and (min-width: $bp-tablet) {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    padding: 32px 0;
  }

  &__container {
    display: flex;
    align-items: start;
    gap: 40px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
      gap: 40px;
    }
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
  }

  &__nav-contact {
    display: flex;

    @media screen and (min-width: $bp-desktop) {
      right: -18px;
    }
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 56px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__contact {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 32px;
      justify-content: center;
      align-items: center;
      fill: var(--color-brand-dark);
    }
  }

  &__burger {
    fill: var(--white);
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: 0;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
