.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  transform: translateX(100%);
  transition: transform 0.5s;

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 20px;
  }
}
