.ourProcedures-section {
  &__title-section {
    text-align: center;
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__button {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }
}
