.whyWe-section {
  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  &__title-section {
    max-width: 220px;

    @media screen and (min-width: $bp-tablet) {
      max-width: 432px;
    }
  }
}

.whyWe-block-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
    gap: 56px;
  }
}

.whyWe-block {
  width: 100%;
  max-width: 316px;
  max-height: 177px;
  padding: 24px 32px 20px;
  border-radius: 24px;
  background: var(--white);
  color: var(--black);
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);

  @media screen and (min-width: $bp-tablet) {
    max-width: 316px;
    max-height: 181px;
    padding: 24px 32px;
    border-radius: 32px;
  }
}

.whyWe-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

.whyWe-icon {
  fill: var(--color-brand);
}
