/* Why We-section */
// .whyWe-section {
//   background: linear-gradient(
//     rgba(43, 127, 255, 1),
//     rgba(43, 127, 255, 0),
//     rgba(43, 127, 255, 0)
//   );
// }

.whyWe-section {
  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  &__title-section {
    max-width: 432px;
  }
}

.whyWe-block-list {
  display: flex;
  gap: 56px;
}

.whyWe-block {
  width: 100%;
  max-width: 316px;
  max-height: 181px;
  padding: 24px 32px;
  border-radius: 32px;
  background: var(--white);
  color: var(--black);
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
}

.whyWe-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

.whyWe-icon {
  fill: var(--color-brand);
}
