.hero-btn {
  width: 219px;
  height: 53px;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  color: var(--white);
  border-radius: 32px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 14px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 1s;
}

.hero-btn:hover {
  background: transparent;
  color: var(--color-brand-dark);
}

.carousel-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  fill: var(--color-brand-dark);
  background-color: transparent;
  border: 1px solid var(--color-brand-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-brand);
  border: 1px solid var(--color-brand);
  fill: var(--white);
}

.contact-btn,
.modal-btn {
  width: 100%;
  height: 53px;
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  color: var(--white);
  border-radius: 32px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 1s;
}

.contact-btn:hover,
.modal-btn:hover {
  background: transparent;
}

/* .button:disabled {
      background-color: var(--copyright-grey);
      border: var(--copyright-grey);
      cursor: not-allowed;
    } */
