.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  &__button {
    width: 12px;
    height: 12px;
    padding: 0;
    background: var(--copyright-grey);
    border-radius: 50%;
  }
}
